[submodule "third_party/src/yaml-cpp"]
	path = third_party/src/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git

[submodule "third_party/src/libev"]
	path = third_party/src/libev
	url = https://github.com/enki/libev.git

[submodule "third_party/src/jsoncpp"]
	path = third_party/src/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "third_party/src/libsrtp"]
	path = third_party/src/libsrtp
	url = https://github.com/cisco/libsrtp.git
